.about {
    padding: 10px 0;
    background: #0a0908;
    color: #f8fcfc;
  }
  .about h3 {
    
    font-family: 'Carmen Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    letter-spacing: 0.317552px;
  }
  .about span {
    color: #004b23;
  }
  .about ul {
    list-style: none;
    padding: 0;
    font-size: 15px;
  }
  .about ul li + li {
    margin-top: 10px;
  }
  .about ul li {
    position: relative;
    padding-left: 26px;
  }
  .about ul i {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 22px;
    color: #3498db;
  }
  .about .icon-boxes {
    padding-top: 10px;
  }
  .about .icon-boxes h4 {
    font-size: 20px;
    font-weight: 700;
    margin-top: 5px;
  }
  .about .icon-boxes i {
    font-size: 48px;
    color: #3498db;
  }
  .about .icon-boxes p {
    font-size: 15px;
    color: #848484;
  }